{% extends 'page/base.html.twig' %}
{% block title %}Users{% endblock %}
{% block body %}
    <h1>Usuarios</h1>
    <h2>Bienvenido a la web de usuarios.</h2>
    <p>Página de inicio</p>
{% endblock %}