{% extends 'page/base.html.twig' %}
{% block title %}Puesto de trabajo{% endblock %}
{% block body %}
    {% if(job) %}
        <h1>Ficha del puesto de trabajo</h1>
        {{ include('partials/job_data.html.twig', {'job': job}) }}

        <button onclick="location.href='{{ path('update_job_name', {'id': job.id}) }}'">Editar trabajo</button>
        <button onclick="location.href='{{ path('delete_job', {'id': job.id}) }}'">Eliminar trabajo</button>
        <button onclick="location.href='{{ path('app_page_index') }}'">Volver atras</button>

    {% else %}
        <p>No se ha encontrado el puesto de trabajo</p>
    {% endif %}
{% endblock %}