<ul>
    <li><strong>{{ user.nombre }}</strong></li>
    <li><strong>Correo: </strong>{{ user.email }}</li>
    <li><strong>Telefono: </strong>{{ user.telefono }}</li>
    <li><strong>Puesto de trabajo: </strong>{{ user.job ? user.job.nombre : '' }}</li>
</ul><br>